<div class="form-group col-md-6" id="roomSelectDiv">
    <div>

     <select title="Add Crosslisted Course" onchange="if (this.selectedIndex) callme(event);" 
     class="form-control selectpicker" id='crossListSelect' name="crossListedCourses" data-live-search="true" multiple>
      
        <optgroup label="Headers">
        {% for course in allCourses %}
        
          <option value="{{course.reFID}}"> 
             {{course}} 
          </option>
        {% endfor %}
     </select>
    </div>
  </div>