<div class="form-group col-md-6" id="roomSelectDiv">
    <div>
     <select title="Select room" class="form-control selectpicker" id='roomSelect' name="rid" data-live-search="true">
       <option value="">---</option>
        {% set currentbuilding = namespace(cb='') %}
        {% for room in rooms %} 
          {% if room.building.name != currentbuilding.cb %}
            {% set currentbuilding.cb = room.building.name %}
            <option style="border-bottom:2px solid rgba(0,153,153,.3); margin:-2px 0 4px 0" disabled = "disabled"></option>
          {% endif %}
          <option value="{{room.rID}}"> 
            {{room.building.name}}-{{room.number}} 
          </option>
        {% endfor %}
     </select>
    </div>
  </div>