
    <link rel="stylesheet" href="/static/css/table.css" type="text/css" />
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Taught By</th>
            <th>Schedule</th>
            <th>Capacity</th>
            <th>Room</th>
            <th>Cross-Listed</th>
            <th>Description</th>
            <th>Prerequisites</th>
            <th>Notes</th>
            <th>Faculty Load Credit</th>
            <th>Last Edited</th>


            <th><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></th>
        </tr>
    </thead>
    <tbody>
        <div id = "{{state['id']}}">
        {% for course in courses %}
            <tr>
                <!--COURSE NAME-->
                <td>
                    {{course.prefix.prefix}} {{course.bannerRef.number}}
                    {% if course.specialTopicName is not none %}
                        {{course.specialTopicName}}
                    {% else %}
                        {{course.bannerRef.ctitle}}
                    {%endif%}
                </td>
                <!--TAUGHT BY-->
                <td>
                    {% for instructor in instructors[course.stId] %}
                        {{instructor.username.firstName[0] + ".  "+instructor.username.lastName}}<br>
                    {% endfor %}
                </td>
                <!--SCHEDULE-->
                <td>
                   {# Needed to move special to the top for scoping issue #}
                    {% set special = [] %}
                    {% if course.schedule is not none %}
                        {% for sid in cfg['specialSchedule']['unknownTime'] %}
                            {% if sid == course.schedule.sid %}
                                {% set special = special.append(sid) %}
                            {% endif %}
                        {% endfor %}
                        {% if special != [] %}
                            <p>See Notes</p>
                        {% else %}
                            {% for day in course.schedule.days %}
                                {{ day.day }}
                            {% endfor %}
                            {{course.schedule.startTime.strftime('%I:%M%p')}}-{{course.schedule.endTime.strftime('%I:%M%p')}}
                        {% endif %}
                    {% endif %}
                </td>

                <!--CAPACITY-->
                <td>
                    {% if course.capacity is not none  %}
                        {{course.capacity}}
                    {% else %}
                        No caps specified
                    {% endif %}
                </td>
                <!-- ROOM -->

                <td>
                    {% if course.rid is not none %}
                        {{course.rid.building.name}}:{{course.rid.number}}
                    {% else %}
                        <p>No room listed</p>
                    {% endif %}
                </td>

                <!--CROSS LISTED-->
                <td>
                    {% if course.crossListed == 1 %}
                        yes
                    {% else %}
                        no
                    {% endif %}
                </td>
                <!-- stcourse Description -->
                <td>
                    {% if course.description  %}
                        {{course.description}}
                    {% else %}
                        no description was given AT ALL
                    {% endif %}
                </td>
                  <!-- stcourse prereqs -->
                <td>  {% if course.prereqs  %}
                      {{course.prereqs}}
                  {% else %}
                      no prereqs
                  {% endif %}
                </td>
                <!--NOTES-->
                <td>
                    {% if course.notes is not none %}
                    <a href='javascript:;' data-toggle='popover' data-content='{{ course.notes }}'>Notes</a>
                    {% else %}
                        <p>Notes</p>
                    {% endif %}
                </td>
                <!-- faculty_credit -->
                <td>
                    {% if course.faculty_credit is not none %}
                        {{course.faculty_credit}}
                    {% else %}
                        No Credit specified
                    {% endif %}
                </td>
                <!--LAST EDITED BY-->
                <td>
                    {{course.lastEditBy}}
                </td>

                {% if course.status not in cfg['specialTopicLogic']['admin_disabled'] %}
                    <td>
                        <div class="child">
                            <!--EDIT MODAL-->
                            <a href="/editSTCourseModal/{{currentTerm}}/{{course.prefix.prefix}}/{{course.stId}}/{{page}}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                            <!--DELETE MODAL-->
                                    <a href=# data-toggle="modal" data-target="#deleteSTModal" data-stid="{{course.stId}}" data-post-url="/deletestcourse/{{currentTerm}}/{{course.prefix}}"><span class="glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></a>
                        </div>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </div>
    </tbody>
