  <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        
                              <li class="active">
                            <a class="termSelect text-center head" href="#">Term <span class="caret"></span></a>
                           
                            <ul class="nav nav-second-level">
                                {% for term in allTerms %}
                                <li>
                                    <a 
                                    {% if currentTerm == term.termCode %}
                                    class="active"
                                    {% endif %}
                                    href="/courses/{{term.termCode}}/{{prefix}}">{{term.name}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            
                            <!-- /.nav-second-level -->
                        </li>
                        
            
                        
                        <li class="active">
                            <a href="#" class='text-center head'> Division <span class="caret"></span></a>
                            
                        <ul class="nav nav-second-level">
                        {% for division in divisions %}
                        <li>
                            <a class="first-level" href="#">{{division.name}}<span class="arrow pull-right glyphicon glyphicon-chevron-down"></span></a>
                            {% for program in division.programs_prefetch %} 
                
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">{{program.name}}</a>
                                     
                                    <ul class="nav nav-third-level">
                                      {% for subject in program.subjects_prefetch %} 
                                        <li>
                                            <a href="/courses/{{currentTerm}}/{{subject.prefix}}">{{subject.prefix}}</a>
                                        </li>
                                        
                                    {% endfor %}
                                    </ul>
                                    <!-- /.nav-third-level -->
                                    
                                </li>
                            </ul>
                            {% endfor %}
                            <!-- /.nav-second-level -->
                        </li>
                        {% endfor %}

                        <li class="active">
                            <a class="termSelect head2" href="#">Term<span class="arrow pull-right glyphicon glyphicon-chevron-down"></span></a>
                           
                            <ul class="nav nav-second-level">
                                <select id = "termSelect" placeholder= "Select Term" name = "term-select" class="selectpicker form-control" data-live-search="true" >
                                    {% for term in allTerms %}
                                        <option value ={{term.termCode}} >
                                              {{term.name}}
                                        </option>
                                    {% endfor %}
                                </select>
                            </ul>
                            
                            <!-- /.nav-second-level -->
                        </li>

                  
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            
<script type="text/javascript">
window.onload = function(){
    var selectEl = document.getElementById('termSelect');
    $('select[id=termSelect]').val('{{currentTerm}}')
    $('.selectpicker').selectpicker('refresh')
};
</script>
<script type="text/javascript">
var selectEl = document.getElementById('termSelect');
selectEl.onchange = function(){
    function redirectCourses(prefix){
    var termCode = document.getElementById("termSelect").value
    window.location.replace("/courses/"+termCode+"/" + prefix)
    }
    redirectCourses('{{prefix}}')
};
</script>
        