  <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">

                              <li class="active">
                            <a class="termSelect text-center head" href="#">Term <span class="caret"></span></a>

                            <ul class="nav nav-second-level">
                                {% for term in allTerms %}
                                <li>
                                    <a
                                    {% if currentTerm == term.termCode %}
                                    class="active"
                                    {% endif %}
                                    href="/courses/{{term.termCode}}/{{prefix}}">{{term.name}}</a>
                                </li>
                                {% endfor %}
                            </ul>

                            <!-- /.nav-second-level -->
                        </li>



                        <li class="active">
                            <a href="#" class='text-center head' id="divisionHeader"> Division <span class="caret"></span></a>

                        {% set hrefs = {} %}
                        {% set tokens = {} %}
                        {% for division in divisions %}
                            {% for program in division.programs %}
                                {% for subject in program.subjects %}
                                    {% set hrefs = hrefs.update({subject.prefix: "/courses/" ~ currentTerm ~ "/" ~ subject.prefix}) %}
                                    {% set tokens = tokens.update({subject.prefix: program.name ~ " " ~ program.division_id ~ " " ~ division.name ~ " " ~ subject.prefix }) %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                        <select title="Division" class="text-center head form-control selectpicker invisible-select" data-live-search="true" id="divisionSelect" data-hrefs="{{hrefs | safe}}">
                            <option value="" disabled>---</option>
                            {% for prefix in hrefs.keys() %}
                                <option data-tokens="{{tokens[prefix]}}" data-href="{{hrefs[prefix]}}">{{prefix}}</option>
                            {% endfor %}
                        </select>

                    </li>
                </div>
 </div>


{# this Javascript is included here because it uses Jinja tags #}
<script type="text/javascript">
window.onload = function(){
    var selectEl = document.getElementById('termSelect');
    $('select[id=termSelect]').val('{{currentTerm}}')
    $('.selectpicker').selectpicker('refresh')
};
</script>
<script type="text/javascript">
var selectEl = document.getElementById('termSelect');
selectEl.onchange = function(){
    function redirectCourses(prefix){
    var termCode = document.getElementById("termSelect").value
    window.location.replace("/courses/"+termCode+"/" + prefix)
    }
    redirectCourses('{{prefix}}')
};
</script>
