.bootstrap-select>.dropdown-toggle {
  width: auto;
}

.dropzone .dz-preview .dz-image {
      width: 120px;
      height: 120px;
    }

.tooltip {
  margin-left: 5px;
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black;  If you want dots under the hoverable text */
  opacity: 1;
  font-size: 17px;
}


/* Tooltip text */
.accessibilities .tooltip {
  z-index: 9999;
}

.accessibilities .glyphicon {
  z-index: 0;
}
.accessibilities .tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  padding: 5px 10px;
  border-radius: 6px;
  /* top: -5px; */
  /* left: 200%; */
  /* opacity: 1; */
  /* Position the tooltip text - see examples below! */
  position: absolute;
  width: 15em;
  font-size: 13px;
  z-index: 1073;
}

.rooms .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  padding: 5px 10px;
  border-radius: 6px;
  top: -5px;
  left: 200%;
  opacity: 1;
  /* Position the tooltip text - see examples below! */
  /* position: absolute; */
  z-index: 2;
  font-size: 15px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  /* z-index: -1; */
}

.tooltiptext hr {
    margin: 0;
}

.helpAcc {
  z-index: -2;
}

#imageUploaderDiv {
  clear:both;
}
