.bg-cas {
    background-color: #fccfc9;
}

#roomSelectModalDiv {
  width: "80%";
}

#withoutSelectButton .row {
  margin-left: 0;
  margin-right: 0;
}

#imageModal .modal-dialog{
  width: "80%";
}

#imageModalBody img {
  margin-bottom: 10px;
  width: 100%;
  object-fit: cover;
}

#imageModalLink .top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  background-color: white;
  color: black;
}
