/* for our Room resolutions UI*/ 

.b {
  font-weight:lighter;
}

.col {
    color: green;
}

.center {
    margin: auto;
    width: 60%;
}

<style>
table, th, td {
    border: 1px solid black;
}
</style>