/* for our Room resolutions UI*/ 

.b {
  font-weight:lighter;
}

.col {
    color: green;
}

.center {
    margin: auto;
    width: 60%;
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}
<style>
table, th, td {
    border: 1px solid black;
}
</style>

