.glyphicon {
    color: #AAA;
    margin: 5px;
}
.glyphicon:hover {
    color: #404040;
}

textarea {
    resize: vertical;
}

.adminSelect {
    min-width: 200px;
}
body {
    background-color: #fff;
}

/*Sets the color for the selected option*/
.glyphicon-edit.disabled{
    color: #5bc0de;
}

.glyphicon-list.disabled{
    color: #FF8800;
}

.glyphicon-lock.disabled{
    color: #d62c1a;
}
