#center_block{
    margin-left : 280px;
    
}

#remove_btn{
    margin-bottom : 50px;
    margin-top : 50px;
}

#add_btn{
    margin-bottom : 50px;
    margin-top : 50px;
}
.bootstrap-select.btn-group .dropdown-menu selectpicker {
     color: whitesmoke !important;
     background: #bf5279 !important;
 }