
<div class="modal fade" id="edTechModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <span class="modal-title" id="exampleModalCenterTitle"><font size="5" font-weight="bold"> Education Tech: </font></span>
        <p> Please update changes in technologies available for this room.</p>
      </div>
      <div class="modal-body">
       <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
            {# {% for items in educationTech %} #}
            <!--LOOP FOR GOING THROUGH STUFF IN THE ROOM SELECTED WITH RESPECT TO EDUCATION TECH-->  
                    <tr>
                        <td>
                          Chalkboard(s): 
                        </td>
                        <td aria-labelledby="Chalkboards">
                          <span  style="float:left;"> <input type="text" id="chalkboards" /></span>
                        </td>
                    </tr>
                    <tr>
                        <td aria-labelledby="Instructor Computers">
                          Instructor Computer(s):
                        </td>
                        <td>
                          <span  style="float:left;" ><input type="text" id="instructor_computers"/></span>
                        </td>
                    </tr>
                    <tr>
                        <td aria-labelledby="Projectors">
                          Projector(s): 
                        </td>
                        <td>
                          <span  style="float:left;"><input type="text" id="projectors"/></span>
                        </td>
                    </tr>
                    <tr>
                        <td aria-labelledby="Podiums">
                          Podium:
                        </td>
                        <td>
                          <span style="float:left;"><input type="text"  id="podiums"/></span>
                        </td>
                    </tr>
                    <tr>
                        <td aria-labelledby="Smartboards">
                          Smartboard(s):
                        </td>
                        <td>
                          <span  style="float:left;"><input type="text" id="smartboards"/>  </span>
                        </td>
                    </tr>
                    <tr>
                        <td aria-labelledby="student_workspace">
                          Students Workstation(s): 
                        </td>
                        <td>
                          <span  style="float:left;"><input type="text" id="student_workspace"/></span>
                        </td>
                    </tr>
                    <tr>
                        <td aria-labelledby="Whiteboards">
                          Whiteboards: 
                        </td>
                        <td>
                          <span  style="float:left;"><input type="text" id="whiteboards"/></span>
                        </td>
                    </tr>
                    <tr>
                        <td aria-labelledby="Audio">
                          Audio: 
                        </td>
                        <td>

                            <span  style="float:left;" class="checkbox-inline"><input id="audioIcon" type="checkbox" value=""/>Yes</span>
                            <span  style="float:left;" class="checkbox-inline"><input id ="audioIcon2" type="checkbox" value=""/>No</span>

                          
                          

                        </td>
                    </tr>
                     <tr>
                        <td aria-labelledby="Blu-Ray">
                          Blu-Ray: 
                         </td>
                        <td>

                          <span  style="float:left;" class="checkbox-inline"><input id="blu_rayIcon" type="checkbox" value=""/>Yes</span>
                          <span  style="float:left;" class="checkbox-inline"><input id="blu_rayIcon2" type="checkbox" value=""/>No</span>

                          

                        </td>
                    </tr>
                    <tr>
                        <td aria-labelledby="Doc Cam">
                            Doc Cam: 
                        </td>
                        <td>

                          <span  style="float:left;" class="checkbox-inline"><input id="doc_camIcon" type="checkbox" value=""/>Yes</span>
                          <span  style="float:left;" class="checkbox-inline"><input id="doc_camIcon2" type="checkbox" value=""/>No</span>

                         
                        </td>
                    </tr>
                    <tr>
                        <td aria-labelledby="DVD">
                          DVD: 
                        </td>
                        <td>

                          <span  style="float:left;" class="checkbox-inline"><input id="dvdIcon" type="checkbox" value=""/>Yes</span>
                          <span  style="float:left;" class="checkbox-inline"><input id="dvdIcon2" type="checkbox" value=""/>No</span> 

                         

                        </td>
                    </tr>
                    <tr>
                        <td aria-labelledby="Extro">
                          Extro: 
                        </td>
                        <td>

                          <span  style="float:left;" class="checkbox-inline"><input id="extroIcon" type="checkbox" value=""/>Yes</span>
                          <span  style="float:left;" class="checkbox-inline"><input id="extroIcon2" type="checkbox" value=""/>No</span>

                          

                        </td>
                    </tr>
                    <tr>
                        <td aria-labelledby="Mondopad">
                          Mondopad: 
                        </td>
                        <td>

                            <span  style="float:left;" class="checkbox-inline"><input id="mondopadIcon" type="checkbox" value=""/>Yes</span>
                            <span  style="float:left;" class="checkbox-inline"><input id="mondopadIcon2" type="checkbox" value=""/>No</span>
                           

                        </td>
                    </tr>
                    <tr>
                        <td aria-labelledby="Technology Cart">
                            Technology Cart: 
                        </td>
                        <td>

                            <span  style="float:left;" class="checkbox-inline"><input id="tech_chartIcon" type="checkbox" value=""/>Yes</span>
                            <span  style="float:left;" class="checkbox-inline"><input id="tech_chartIcon2" type="checkbox" value=""/>No</span>

                          

                        </td>
                    </tr>
                    <tr>
                        <td aria-labelledby="VHS">
                          VHS: 
                        </td>
                        <td>

                          <span  style="float:left;" class="checkbox-inline"><input id="vhsIcon" type="checkbox" value=""/>Yes</span>
                          <span  style="float:left;" class="checkbox-inline"><input type="checkbox" id="vhsIcon2" value=""/>No</span>

                         

                        </td>
                    </tr>
            {# {% endfor %} #}
            </tbody>
        </table> 
       </div>
      </div>
      <div class="modal-footer" padding: "10px" style="margin-right:.4em;">
      <div class="row">
        <div class = "col-sm-2" align = "left">
        <button type="button" class="btn btn-warning" data-dismiss="modal" aria-labelledby="Close button">Close</button>
        </div>
        <div class = "col-sm-10" align = "right">
          <button type="button"  class="btn btn-primary" data-dismiss="modal" onclick='saveEdTechChanges()' aria-labelledby="Save button">Save</button>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
                                                        
                                                        
