
<div class="modal fade" id="edTechModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <span class="modal-title" id="exampleModalCenterTitle"><font size="5" font-weight="bold"> Education Tech: </font></span>
        <p> Please update changes in technologies available for this room.</p>
      </div>
      <div class="modal-body">
       <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
            {# {% for items in educationTech %} #}
            <!--LOOP FOR GOING THROUGH STUFF IN THE ROOM SELECTED WITH RESPECT TO EDUCATION TECH-->  
                    <tr>
                        <td>
                          Chalkboard(s): 
                        </td>
                        <td aria-labelledby="Chalkboards">
                          <span id="chalkboards" style="float:left;"> <input type="text" /></span>
                        </td>
                    </tr>
                    <tr>
                        <td aria-labelledby="Instructor Computers">
                          Instructor Computer(s):
                        </td>
                        <td>
                          <span id="instructor_computers" style="float:left;" ><input type="text"/></span>
                        </td>
                    </tr>
                    <tr>
                        <td aria-labelledby="Projectors">
                          Projector(s): 
                        </td>
                        <td>
                          <span id="projectors" style="float:left;"><input type="text"/></span>
                        </td>
                    </tr>
                    <tr>
                        <td aria-labelledby="Podiums">
                          Podium:
                        </td>
                        <td>
                          <span id="podiums" style="float:left;"><input type="text"/></span>
                        </td>
                    </tr>
                    <tr>
                        <td aria-labelledby="Smartboards">
                          Smartboard(s):
                        </td>
                        <td>
                          <span id="smartboards" style="float:left;"><input type="text"/>  </span>
                        </td>
                    </tr>
                    <tr>
                        <td aria-labelledby="Student Workstations">
                          Students Workstation(s): 
                        </td>
                        <td>
                          <span id="student_workstations" style="float:left;"><input type="text"/></span>
                        </td>
                    </tr>
                    <tr>
                        <td aria-labelledby="Whiteboards">
                          Whiteboards: 
                        </td>
                        <td>
                          <span id="whiteboards" style="float:left;"><input type="text"/></span>
                        </td>
                    </tr>
                    <tr>
                        <td aria-labelledby="Audio">
                          Audio: 
                        </td>
                        <td>
                            <span id="audioIcon" style="float:left;" class="checkbox-inline"><input type="checkbox" value=""/>Yes</span>
                            <span id ="audioIcon2" style="float:left;" class="checkbox-inline"><input type="checkbox" value=""/>No</span>
                        </td>
                    </tr>
                     <tr>
                        <td aria-labelledby="Blu-Ray">
                          Blu-Ray: 
                         </td>
                        <td>
                          <span id="blu_rayIcon" style="float:left;" class="checkbox-inline"><input type="checkbox" value=""/>Yes</span>
                          <span id="blu_rayIcon2" style="float:left;" class="checkbox-inline"><input type="checkbox" value=""/>No</span>
                        </td>
                    </tr>
                    <tr>
                        <td aria-labelledby="Doc Cam">
                            Doc Cam: 
                        </td>
                        <td>
                          <span id="doc_camIcon" style="float:left;" class="checkbox-inline"><input type="checkbox" value=""/>Yes</span>
                          <span id="doc_camIcon2" style="float:left;" class="checkbox-inline"><input type="checkbox" value=""/>No</span>
                        </td>
                    </tr>
                    <tr>
                        <td aria-labelledby="DVD">
                          DVD: 
                        </td>
                        <td>
                          <span id="dvdIcon" style="float:left;" class="checkbox-inline"><input type="checkbox" value=""/>Yes</span>
                          <span id="dvdIcon2" style="float:left;" class="checkbox-inline"><input type="checkbox" value=""/>No</span> 
                        </td>
                    </tr>
                    <tr>
                        <td aria-labelledby="Extro">
                          Extro: 
                        </td>
                        <td>
                          <span id="extroIcon" style="float:left;" class="checkbox-inline"><input type="checkbox" value=""/>Yes</span>
                          <span id="extroIcon2" style="float:left;" class="checkbox-inline"><input type="checkbox" value=""/>No</span>
                        </td>
                    </tr>
                    <tr>
                        <td aria-labelledby="Mondopad">
                          Mondopad: 
                        </td>
                        <td>
                            <span id="mondopadIcon" style="float:left;" class="checkbox-inline"><input type="checkbox" value=""/>Yes</span>
                            <span id="mondopadIcon2" style="float:left;" class="checkbox-inline"><input type="checkbox" value=""/>No</span>
                        </td>
                    </tr>
                    <tr>
                        <td aria-labelledby="Technology Cart">
                            Technology Cart: 
                        </td>
                        <td>
                            <span id="tech_chartIcon" style="float:left;" class="checkbox-inline"><input type="checkbox" value=""/>Yes</span>
                            <span id="tech_chartIcon2" style="float:left;" class="checkbox-inline"><input type="checkbox" value=""/>No</span>
                        </td>
                    </tr>
                    <tr>
                        <td aria-labelledby="VHS">
                          VHS: 
                        </td>
                        <td>
                          <span id="vhsIcon" style="float:left;" class="checkbox-inline"><input type="checkbox" value=""/>Yes</span>
                          <span id="vhsIcon2" style="float:left;" class="checkbox-inline"><input type="checkbox" value=""/>No</span>
                        </td>
                    </tr>
            {# {% endfor %} #}
            </tbody>
        </table> 
       </div>
      </div>
      <div class="modal-footer" padding: "10px" style="margin-right:.4em;">
      <div class="row">
        <div class = "col-sm-2" align = "left">
        <button type="button" class="btn btn-warning" data-dismiss="modal" aria-labelledby="Close button">Close</button>
        </div>
        <div class = "col-sm-10" align = "right">
          <button type="button" class="btn btn-primary" data-dismiss="modal" aria-labelledby="Save button">Save</button>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
                                                        
                                                        
