<script type="text/javascript" src="/static/js/local/buildingManagement.js"></script>
<div class="modal fade" id="edTechModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      {#<div class="alert alert-danger">
        <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
      </div> #}
      <div class="modal-header">
        <span class="modal-title" id="exampleModalCenterTitle"><font size="18"> Education Tech: </font></span>
        <button type="button"  class="close" class="btn btn-primary"  style="color: red; line-height: 3" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="table-responsive">
        <table class="table table-striped">
            <tbody id="edTechHardware">
            {# {% for items in educationTech %}     <!-- Shall be a list -->
            <!--LOOP FOR GOING THROUGH STUFF IN THE ROOM SELECTED WITH RESPECT TO EDUCATION TECH-->
                      <tr>
                          <td>
                                Chalkboard(s):
                          </td>
                          <td>
                            <span class="edTech" id="chalkboards" style="float:left;" ></span>
                          </td>
                      </tr>
                      <tr>
                          <td class="">
                              Instructor Computer(s):
                          </td>
                          <td>
                            <span class="edTech" id="instructor_computers" style="float:left;" ></span>
                          </td>
                      </tr>
                      <tr>
                          <td>
                               Projector(s):
                          </td>
                          <td>
                            <span class="edTech" id="projectors" style="float:left;" ></span>
                          </td>
                      </tr>
                      <tr>
                          <td>
                            Podium:

                          </td>
                          <td>
                            <span class="edTech" id="podiums" style="float:left;" > </span>
                          </td>
                      </tr>
                      <tr>
                          <td>
                               Smartboard(s):
                          </td>
                          <td>
                            <span class="edTech" id="smartboards" style="float:left;" > </span>
                          </td>
                      </tr>
                      <tr>
                          <td>
                            Students Workstation(s):
                          </td>
                          <td>
                            <span class="edTech" id="student_workstations" style="float:left;" ></span>
                          </td>
                      </tr>
                      <tr>
                          <td>
                               Whiteboards:
                          </td>
                          <td>
                            <span class="edTech" id="whiteboards" style="float:left;" ></span>
                          </td>
                      </tr>
                      <tr>
                          <td>
                               DVD:
                          </td>
                          <td>
                               <span class="edTech" id="dvd" style="float:left;" ></span>
                          </td>
                      </tr>
                      <tr>
                          <td>
                               Audio:
                          </td>
                          <td>
                               <span class="edTech" id="audio" style="float:left;" ></span>
                          </td>
                      </tr>
                      <tr>
                          <td>
                               Blu-Ray:
                          </td>
                          <td>
                               <span class="edTech" id="blu_ray" style="float:left;" ></span>
                          </td>
                      </tr>
                      <tr>
                          <td>
                               Extro:
                          </td>
                          <td>
                               <span class="edTech" id="extro" style="float:left;"></span>
                          </td>
                      </tr>
                      <tr>
                          <td>
                               Doc Cam:
                          </td>
                          <td>
                               <span class="edTech" id="doc_cam" style="float:left;"></span>
                          </td>
                      </tr>
                      <tr>
                          <td>
                               VHS:
                          </td>
                          <td>
                               <span class="edTech" id="vhs" style="float:left;" ></span>
                          </td>
                      </tr>
                      <tr>
                          <td>
                               Mondopad:
                          </td>
                          <td>
                               <span class="edTech" id="mondopad" style="float:left;" ></span>
                          </td>
                      </tr>
                      <tr>
                          <td>
                               Technology Cart:
                          </td>
                          <td>
                               <span class="edTech" id="tech_chart" style="float:left;" ></span>
                          </td>
                      </tr>#}
            {# {% endfor %} #}
            </tbody>
        </table>
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
