
<div class="modal fade" id="edTechModal{{room.rID}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title" id="exampleModalCenterTitle"><font size="18"> Education Tech: </font></span>
        <button type="button"  class="close" class="btn btn-primary"  style="color: red; line-height: 3" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                    <tr>
                          <td>
                                Chalkboard(s):
                          </td>
                          <td>
                            <span id="chalkboards" style="float:left;" > {{room.educationTech.chalkboards}}</span>
                          </td>
                      </tr>
                      <tr>
                          <td class="">
                              Instructor Computer(s):
                          </td>
                          <td>
                            <span id="instructor_computers" style="float:left;" > {{room.educationTech.instructor_computers}}</span>
                          </td>
                      </tr>
                      <tr>
                          <td>
                               Projector(s): 
                          </td>
                          <td>
                            <span id="projectors" style="float:left;" > {{room.educationTech.projector}}</span>
                          </td>
                      </tr>
                      <tr>
                          <td>
                            Podium:
                               
                          </td>
                          <td>
                            <span id="podiums" style="float:left;" >  {{room.educationTech.podium}}</span>
                          </td>
                      </tr>
                      <tr>
                          <td>
                               Smartboard(s):
                          </td>
                          <td>
                            <span id="smartboards" style="float:left;" >  {{room.educationTech.smartboards}}</span>
                          </td>
                      </tr>
                      <tr>
                          <td>
                            Students Workstation(s): 
                          </td>
                          <td>
                            <span id="student_workstations" style="float:left;" > {{room.educationTech.student_workspace}}</span>
                          </td>
                      </tr>
                      <tr>
                          <td>
                               Whiteboards: 
                          </td>
                          <td>
                            <span id="whiteboards" style="float:left;" > {{room.educationTech.whiteboards}}</span>
                          </td>
                      </tr>
                      <tr>
                          <td>
                               DVD: 
                          </td>
                          <td>
                               <span id="dvdIcon" style="float:left;" > {{"Yes" if room.educationTech.dvd else None}}</span> 
                          </td>
                      </tr>
                      <tr>
                          <td>
                               Audio: 
                          </td>
                          <td>
                               <span id="audioIcon" style="float:left;" > {{"Yes" if room.educationTech.audio else None}}</span>
                          </td>
                      </tr>
                      <tr>
                          <td>
                               Blu-Ray: 
                          </td>
                          <td>
                               <span id="blu_rayIcon" style="float:left;" > {{"Yes" if room.educationTech.blu_ray else None}}</span>
                          </td>
                      </tr>
                      <tr>
                          <td>
                               Extro: 
                          </td>
                          <td>
                               <span id="extroIcon" style="float:left;"> {{"Yes" if room.educationTech.extro else None}}</span>
                          </td>
                      </tr>
                      <tr>
                          <td>
                               Doc Cam: 
                          </td>
                          <td>
                               <span id="doc_camIcon" style="float:left;"> {{"Yes" if room.educationTech.doc_cam else None}}</span>
                          </td>
                      </tr>
                      <tr>
                          <td> 
                               VHS: 
                          </td>
                          <td>
                               <span id="vhsIcon" style="float:left;" > {{"Yes" if room.educationTech.vhs else None }}</span>
                          </td>
                      </tr>
                      <tr>
                          <td>
                               Mondopad: 
                          </td>
                          <td>
                               <span id="mondopadIcon" style="float:left;" > {{"Yes" if room.educationTech.mondopad else None}}</span>
                          </td>
                      </tr>
                      <tr>
                          <td>
                               Technology Cart: 
                          </td>
                          <td>
                               <span id="tech_chartIcon" style="float:left;" > {{"Yes" if room.educationTech.tech_chart else None}}</span>
                          </td>
                      </tr>
            </tbody>
        </table> 
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
                                                        
<script type="application/javascript" src="/static/js/local/roomResolutionView.js"></script>
