<div class="modal fade" id="save_warning" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="z-index: 1600;">
  <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Warning</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure that you want to close this window without saving?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm pull-left" data-toggle="modal" data-target="#save_warning">Cancel</button>
            <button type="button" class="btn btn-danger btn-sm"  data-dismiss="modal" data-toggle="modal" data-target="#edTechModal">Close Without Saving</button>
          </div>
      </div>
    </form>
  </div>
</div>
