<!---HTML for building management--->
{% extends "base.html" %} 
{% set currentPage = "no" %} 
{% block body %}
<script type="text/javascript" src="/static/js/local/buildingManagement.js"></script>
<!--TODO: Add aria labels-->
<div>
    <h1 class="text-center">Building Management</h1>
</div>
<div class="container">
    <span class="border border-dark">
    <table class="table">
        <thead class="thead-dark">
            <th scope="col"><h4><strong>Room</strong></h4></th>
            <th scope="col"> <h4><strong>Type </strong></h4></th>
            <th scope="col"><h4><strong>Edit</strong></h4></th>
            <th scope="col"><h4><strong>Last Modified</strong></h4></th>
        </thead>
        <tbody>
            {%for room in rooms | sort(attribute="building.shortName")%}
            <tr>
                <td id="room_{{room.number}}"> {{room.building.shortName}} {{room.number}}</td>
                <td> {{room.roomType}}</td>
                <td> 
                    <button type="button" 
                            class="btn btn-primary" 
                            id="Edit{{room.rid}}" 
                            data-toggle="collapse" 
                            data-target="#roomData" 
                            aria-expanded="false" 
                            aria-controls="roomData" 
                            onclick="setRoomPanel({{room.rID}}, this)">Edit
                    </button>
                </td>
                <td><p id="datetime"> </p></td>
            </tr>
            <tr class="hidden_{{room.rID}}" > 
                <td colspan="4" id="hiddenRow_{{room.rID}}">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div id = "roomDetails" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="panel panel-default"> <!--panel for room information -->
        <div class="panel-body panel_color">
            <div class="collapse" id="roomData">
                <table class="table table-dark">
                    <tr>
                        <td>
                           <div class="container">
                            <div id="selectedRoom">        
                                <div class="col-md-6 left">
                                    <div><strong>Room Number:</strong><span id="roomNumber" ></span></div><br> <!--- TODO: Fill this in based on User Click--->
                                    <div><strong>Room Capacity:</strong><input id="roomCapacity" type="number"></input></div><br> <!---TODO: PREFILL all  input form data with current room data--->
                                    <div><strong>Room Type: </strong><input id="roomType" type=text></input></div><br>
                                    <div><strong>Specialized Equipment: </strong><input id="specializedEq" type=text></input></div><br>
                                    <div><strong>Special Features: </strong><input  id="specialFeatures" type=text></input></div><br>
                                </div>
                                <div class="col-md-6 right">
                                    <div ><strong>Movable Furniture: </strong><input id="movableFurniture" type="checkbox"></input>
                                    </div><br>
                                    {% include "snips/editableEducationTech.html" %}
                                    <div id="educationTech"><strong>Education Tech: </strong><br>
                                        <button type="button" style="margin-top: -.2em; margin-left: .3em;  padding: 3px 10px" 
                                        class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#edTechModal"> 
                                        <a href="#" onclick = "educationTech()">Open</a></button> <!--TODO: pull from db. refer to roomprecerences on jamal_basanta--->
                                        <!--<div class="modal-body" align="left"></div>-->
                                    </div>
                                    <div ><strong>Visual Accessibility: </strong><select id="visualAcc" class="form control">
                                        <!--<option value="A">A</option>
                                        <!--<option value="B">B</option>-->
                                        <!--<option value="C">C</option>-->
                                    </select></div><br>
                                    <div><strong>Audio Accessibility: </strong><select  id="audioAcc" class="form control">
                                        <!--<option value="A">A</option>
                                        <!--<option value="B">B</option>-->
                                        <!--<option value="C">C</option>-->
                                    </select></div><br>
                                    <div ><strong>Physical Accessibility: </strong><select id="physicalAcc" class="form control">
                                        <!--<option value="A">A</option>-->
                                        <!--<option value="B">B</option>-->
                                        <!--<option value="C">C</option>-->
                                    </select></div><br>
                                </div>
                            </div>
                            <div id="submitChangesDiv">
                                <button type="button" class="btn btn-success" onclick="saveChanges()" id="submitChanges">Submit changes</button> <!---TODO: Save changes on click--->
                            </div>
                        </div>
                         
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>
</div>
<!--<div class="col-sm-6">-->
                                <!--{% for room in rooms %}-->
                                    <!--This gives the room details-->
                                <!--    <div class="row">-->
                                <!--        <label  style="float: left;"> Room Number: </label><div id="roomNumber" > {{room.number}}</div>-->
                                <!--    </div>    -->
                                <!--    <div class="row">-->
                                <!--        <label  style="float:left;" > Room Capacity:</label>  <div id="roomCapacity" style="left;">{{room.maxCapacity}}</div>-->
                                <!--    </div>-->
                                <!--    <div class="row">-->
                                <!--        <label id="visualAccIcon" style="float:left;" ></label> <br> -->
                                <!--    </div>-->
                                <!--    <div class="row">-->
                                <!--        <label id="audioAccIcon" style="float:left;" ></label> <br> -->
                                <!--    </div>-->
                                <!--    <div class="row">-->
                                <!--        <label id="physicalAccIcon" style="float:left;" ></label> <br> -->
                                <!--    </div>-->
                                <!--    <div class="row">-->
                                <!--        <label  style="float:left;" >Specialized Equipment : </label>  <div id="specializedEq">{{room.specializedEq}}</div>-->
                                <!--    </div>-->
                                <!--    <div class="row">-->
                                <!--    <label  style="float: left;">Movable Furniture: </label> <div id="movableFurniture">  {{room.movableFurniture}}</div>-->
                                <!--    </div>-->
                                <!--    <div class="row">-->
                                <!--    <label  style="float:left;" >Special Feature Notes   : </label><div id="specialFeatures">{{room.specialFeatures}}</div>-->
                                <!--    </div>-->
                                <!--    <div class="row">-->
                                <!--    <label  style="float:left;" > Education Tech: </label> <button -->
                                <!--    type="button" style="margin-top: -.2em; margin-left: .3em;  padding: 3px 10px" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#edTechModal"> -->
                                <!--    <a href="#">  View </a></button>                   -->
                                    <!--this view leads to the education tech exra room details-->
                                <!--    </div>-->
                                <!--{% endfor %}-->
                                <!--</div>-->

{% endblock %}