<!---HTML for building management--->
{% extends "base.html" %} 
{% set currentPage = "no" %} 
{% block body %}
<script type="text/javascript" src="/static/js/local/buildingManagement.js"></script>
<!--TODO: Add aria labels-->
<div>
    <h1 class="text-center">Building Management</h1>
</div>
<div class="container">
    <span class="border border-dark">
    <table class="table">
        <thead class="thead-dark">
            <th scope="col" aria-labelledby="Room Header"><h4><strong>Room</strong></h4></th>
            <th scope="col" aria-labelledby="Type Header"> <h4><strong>Type </strong></h4></th>
            <th scope="col" aria-labelledby="Edit Header"><h4><strong>Edit</strong></h4></th>
            <th scope="col" aria-labelledby="Last Modified Header"><h4><strong>Last Modified</strong></h4></th>
        </thead>
        <tbody>
            {%for room in rooms | sort(attribute="building.shortName")%}
            <tr>
                <td id="room_{{room.number}}" data-toggle="tooltip" title={{room.building.name}}> {{room.building.shortName}} {{room.number}}</td>
                <td> {{room.roomType}}</td>
                <td> 
                    <button type="button" 
                            class="btn btn-primary" 
                            id="Edit{{room.rid}}" 
                            data-toggle="collapse" 
                            data-target="#roomData" 
                            aria-expanded="false" 
                            aria-controls="roomData"
                            aria-labelledby="Edit Button"
                            onclick="setRoomInfo({{room.rID}}, this)">Edit
                    </button>
                </td>
                <td id="lastModified">{{room.lastModified}}</td>
            </tr>
            <tr class="hidden_{{room.rID}}" > 
                <td colspan="4" id="hiddenRow_{{room.rID}}">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div id = "roomDetails" class="collapse show" aria-labelledby="roomDetails div" data-parent="#accordion">
    <div class="panel panel-default"> <!--panel for room information -->
        <div class="panel-body panel_color" style="margin:0; padding:0;">
            <div class="collapse" id="roomData">
                <table class="table table-dark">
                    <tr>
                        <td>
                           <div class="container">
                            <div id="selectedRoom">
                                <div class = "row">        
                                <div class="col-md-4 left">
                                    <div aria-labelledby="Room Number"><strong>Room Number:</strong><span id="roomNumber" ></span></div><br>
                                    <div aria-labelledby="Room Capacity"><strong>Room Capacity:</strong><input id="roomCapacity" type="number"></input></div><br>
                                    <div aria-labelledby="Room Type"><strong>Room Type: </strong><input id="roomType" type=text></input></div><br>
                                    <div aria-labelledby="Specialized Equpiment"><strong>Specialized Equipment: </strong><input id="specializedEq" type=text></input></div><br>
                                    <div aria-labelledby="Special Features"><strong>Special Features: </strong><input  id="specialFeatures" type=text></input></div><br>
                                </div>
                                <div class = "col-md-4">
                                    
                                </div>
                                <div class="col-md-4 right">
                                    <div aria-labelledby="Movable Furniture"><strong>Movable Furniture: </strong><input id="movableFurniture" type="checkbox"></input>
                                    </div><br>
                                    {% include "snips/editableEducationTech.html" %}
               
                                   <div id="educationTech" aria-labelledby="Education Tech"><strong>Education Tech: </strong><br>
                                        <button type="button" style="margin-top: -.2em; margin-left: .3em;  padding: 3px 10px" 
                                        class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#edTechModal" onclick='seteducationTech()'> 
                                        <a href="#">Open</a></button> 
                                    </div>
                                    <div aria-labelledby="Visual Accessibility"><strong>Visual Accessibility: </strong>
                                        <select id="visualAcc" class="form control">
                                            <option value="A">A</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                        </select>
                                    </div><br>
                                    
                                    <div aria-labelledby="Audio Accessibility"><strong>Audio Accessibility: </strong>
                                        <select  id="audioAcc" class="form control">
                                            <option value="A">A</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                        </select>
                                    </div><br>
                                    
                                    <div aria-labelledby="Physical Accessibility"><strong>Physical Accessibility: </strong>
                                        <select  id="physicalAcc" class="form control">
                                            <option value="A">A</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                        </select>
                                    </div><br>
                                </div>
                            </div>
                            </div>
                            <div id="submitChangesDiv">
                                <button type="button" aria-labelledby="Submit Changes Button" class="btn btn-success" data-toggle="modal" data-target="#makeChanges"  id="submitChanges">Submit changes</button>
                            </div>
                            <!--pop-up for the onclick of submit changes button-->
                            <div class="modal fade" id="makeChanges" tabindex="-1" role="dialog" aria-labelledby="Are you sure?" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title">Are you sure?</h5>
                                  </div>
                                  <div class="modal-body">
                                     <p>Are you sure you want to update the information for this room?</p>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                    <button id "submitChanges" name ="adduser" value = "adduser" type="Submit" class="btn btn-success" onclick="saveChanges()" data-dismiss="modal"> Yes</button>  
                                  </div>
                                </div>
                              </div>
                        </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}