<!---HTML for building management--->
{% extends "base.html" %} 
{% set currentPage = "no" %} 
{% block body %}
<script type="text/javascript" src="/static/js/local/buildingManagement.js"></script>
<div>
    <h1 class="text-center">Building Management</h1>
</div>
<div class="container">
    <span class="border border-dark">
    <table class="table">
        <thead class="thead-dark">
            <th scope="col"><h4><strong>Room</strong></h4></th>
            <th scope="col"> <h4><strong>Type </strong></h4></th>
            <th scope="col"><h4><strong>Edit</strong></h4></th>
            <th scope="col"><h4><strong>Last Modified</strong></h4></th>
        </thead>
        <tbody>
            {% for room in rooms %}
            <tr>
                <td> {{room.building.shortName}} {{room.number}}</td>
                <td> {{room.roomType}}</td>
                <td> <button type="button" class="btn btn-primary" id="Edit{{room.rid}}" data-toggle="collapse" 
                data-target="#roomData" aria-expanded="false" aria-controls="roomData" onclick="setRoomPanel()">Edit</button></td>
                <td><p id="datetime"> </p></td>
            </tr>
            <tr class="hiddenRow"> 
                <td colspan="8">
                    <div class="hiddenDiv panel-collapse collapse" id="modalRowRoom{{room.rid}}">Hidden Div</div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div id = "roomDetails" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="panel panel-default"> <!--panel for room information -->
        <div class="panel-body panel_color">
            <div class="collapse" id="roomData">
                <table class="table table-dark">
                    <tr>
                        <td>
                           <div class="container">
                            <div id="selectedRoom" class=>        
                                <div class="col-md-6 left">
                                    <p><strong>Room Number: </strong>NUMBER BASED ON SELECTION</p>
                                    <p><strong>Max Capacity: </strong><input type="number"></input></p>
                                    <p><strong>Room Type: </strong><input type=text></input></p>
                                    <p><strong>Specialized Equipment: </strong><input type=text></input></p>
                                    <p><strong>Movable Furniture: </strong><input type="checkbox"></input></p>
                                </div>
                                
                                <div class="col-md-6 right">
                                    <p><strong>Special Features: </strong><input type=text></input></p>
                                    <p><strong>Education Tech: </strong>
                                        <button type="button" style="margin-top: -.2em; margin-left: .3em;  padding: 3px 10px" 
                                        class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#edTechModal"> 
                                        <a href="#">  View </a></button>
                                    </p>
                                    <p><strong>Visual Accessibility: </strong><select class="form control">
                                        <option value="A">A</option> <!---TODO: PULL OPTIONS FROM DB--->
                                        <option value="B">B</option>
                                        <option value="C">C</option>
                                    </select></p>
                                    <p><strong>Audio Accessibility: </strong><select class="form control">
                                        <option value="A">A</option> <!---TODO: PULL OPTIONS FROM DB--->
                                        <option value="B">B</option>
                                        <option value="C">C</option>
                                    </select></p>
                                    <p><strong>Physical Accessibility: </strong><select class="form control">
                                        <option value="A">A</option> <!---TODO: PULL OPTIONS FROM DB--->
                                        <option value="B">B</option>
                                        <option value="C">C</option>
                                    </select></p>
                                </div>
                            </div>
                            <div id="submitChangesDiv">
                                <button type="button" class="btn btn-success" onclick="saveChanges()" id="submitChanges">Submit changes</button> <!---TODO: Save changes on click--->
                            </div>
                        </div>
                          {% include "snips/educationTech.html" %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>
</div>
<!--<div class="col-sm-6">-->
                                <!--{% for room in rooms %}-->
                                    <!--This gives the room details-->
                                <!--    <div class="row">-->
                                <!--        <label  style="float: left;"> Room Number: </label><div id="roomNumber" > {{room.number}}</div>-->
                                <!--    </div>    -->
                                <!--    <div class="row">-->
                                <!--        <label  style="float:left;" > Room Capacity:</label>  <div id="roomCapacity" style="left;">{{room.maxCapacity}}</div>-->
                                <!--    </div>-->
                                <!--    <div class="row">-->
                                <!--        <label id="visualAccIcon" style="float:left;" ></label> <br> -->
                                <!--    </div>-->
                                <!--    <div class="row">-->
                                <!--        <label id="audioAccIcon" style="float:left;" ></label> <br> -->
                                <!--    </div>-->
                                <!--    <div class="row">-->
                                <!--        <label id="physicalAccIcon" style="float:left;" ></label> <br> -->
                                <!--    </div>-->
                                <!--    <div class="row">-->
                                <!--        <label  style="float:left;" >Specialized Equipment : </label>  <div id="specializedEq">{{room.specializedEq}}</div>-->
                                <!--    </div>-->
                                <!--    <div class="row">-->
                                <!--    <label  style="float: left;">Movable Furniture: </label> <div id="movableFurniture">  {{room.movableFurniture}}</div>-->
                                <!--    </div>-->
                                <!--    <div class="row">-->
                                <!--    <label  style="float:left;" >Special Feature Notes   : </label><div id="specialFeatures">{{room.specialFeatures}}</div>-->
                                <!--    </div>-->
                                <!--    <div class="row">-->
                                <!--    <label  style="float:left;" > Education Tech: </label> <button -->
                                <!--    type="button" style="margin-top: -.2em; margin-left: .3em;  padding: 3px 10px" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#edTechModal"> -->
                                <!--    <a href="#">  View </a></button>                   -->
                                    <!--this view leads to the education tech exra room details-->
                                <!--    </div>-->
                                <!--{% endfor %}-->
                                <!--</div>-->

{% endblock %}