{% extends "base.html" %} 
{% set currentPage = "courses" %} 

{% block aboveContainer %}
    <div id="wrapper">
{% endblock %} 

{% block body %}

    <div id="page-wrapper">
        <div class="row">
            {% include "snips/messages.html" %}
            <!-- Page Content -->
            <h2>{{currentProgram.name}}: {{curTermName.name}}</h2>
            <div class="container-fluid">
                <div class="row">
                    <table class="table table-striped table-hover">
                        {% include "snips/courseElements/adminCourseTable.html" %}
                    </table>
                    {% if (can_edit is defined and curTermName.state != 2) %} 
                        {% include "snips/courseElements/createCourse.html" %} 
                    {% endif %}
                </div>
            </div>
            <!--/.row-->
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
<!-- /#page-content-wrapper -->

<!-- /#wrapper -->
{% endblock %} {% block belowContainer %} sine</div> {% endblock %}
