{% extends "base.html" %}
{% set currentPage = "no" %}
{% block aboveContainer %}
{% endblock %}
<!--Page Content -->
{% block body %}
    
<table class="table table-striped table-hover table-bordered">
    </br></br>
    <thead>
        
        <tr>
            <th>Courses</th>
            {% for term in terms %}
                <th>{{term}}</th>
            {% endfor %}
        </tr>
    </thead>
<tbody>
    {% for course in allCourses %}
        <tr>
            <th scope = "row"> {{course.subject.prefix}} {{course.number}}</th>
            {% for term in terms %}
                <td>YES</td>
            {% endfor %}
        </tr>
    {% endfor %}

</tbody>
</table>

{% endblock %}