{% extends "base.html" %}
{% set currentPage = "editActiveCourses" %}

<!--area outside of container-->
{% block aboveContainer %} 
{% endblock %} 
<!--end area outside of container-->

{% block body %}


<div id="wrapper">
    <div id="page-wrapper">
    {% include "snips/messages.html" %}
    
    {# Deactivate Course Panel #}
      <div class="panel panel-default" style="margin-top: 50px;">
        <div class="panel-heading">
          <h3 class="panel-title">Deactivate A Course
            <a data-toggle="popover" data-content="Deactivating a course ensures that is unable to be selected by Program and Division Chairs during the scheduling process.">
              <span class="glyphicon glyphicon-question-sign"></span>
            </a>
          </h3>
        </div>
        <div class="panel-body">
          <form action="/deactivate/course" method="post" id="deactive">
            <div class="form-group">
              <select class="selectpicker form-control" name="deactivate" data-live-search="true" required>
                <option value="">---</option>
                {% for course in activeCourses %}
                  <option value="{{course.reFID}}">
                    {{course.subject.prefix}} {{course.number}} {{course.ctitle}}
                  </option>
                {% endfor %}
              </select>
            </div>
            <button type="submit" class="btn btn-danger">Deactivate</button>
          </form>
        </div>
      </div>
    
      
      {# Reactivate a Course #}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Activate A Course
            <a data-toggle="popover" data-content="Activating a course makes a previous deactivated course available for selection during the scheduling process.">
              <span class="glyphicon glyphicon-question-sign"></span>
            </a>
          </h3>
        </div>                            
        <div class="panel-body">
          <form action="/activate/course" method="post" id="active">
            <div class="form-group">
              <select class="selectpicker form-control" name="activate" data-live-search="true" required>
                <option value="">---</option>
                {% for course in deactiveCourses %}
                  <option value="{{course.reFID}}">
                    {{course.subject.prefix}} {{course.number}} {{course.ctitle}}
                  </optin>
                {% endfor %}
              </select>
            </div>
            <button type="submit" class="btn btn-info">Activate</button>
          </form>
        </div>
      </div>

{# Message for adding a new course to CAS #}
  <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Additional Support </h3>
        </div>                            
        <div class="panel-body">
          <p> If you want to add a course to CAS, please contact Cody at myersco@berea.edu</p>
        </div>
      </div>
  
      {# Javascript Includes #}
      <script src="/static/js/local/popup.js"></script>
      
    </div>
</div>



{% endblock %}