{% extends "base.html" %}
{% set currentPage = "no" %} <!--This is used for the sidebar -->
<!--Page Content -->
{% block body %}
<!--THE FOLLOWING CODE RUNS TO CREATE THE ROOM PREFERENCE TABLE-->
<h1 class="text-center"><strong>Room Preference Selection</strong></h1>
<div class="card">
    <table class="table"> <!-- THE FIXED HEADINGS ON THE TOP OF TABLE ON THE FRONT -->
        <thead class="thead-dark">
            <th scope="col"><h4><strong> Your Course(s)</strong></h4></th>
            <th scope="col"> <h4><strong>Section </strong></h4></th>
            <th scope="col"><h4> <strong>Time</strong> </h4></th>
            <th scope="col"><h4><strong> # of Students</strong></h4> </th>
            <th scope="col"><h4><strong>Preference 1</strong></h4></th>
            <th scope="col"><h4><strong> Preference 2</strong></h4></th>
            <th scope="col"><h4><strong>Preference 3 </strong></h4></th>
            <th scope="col"><h4><strong>Notes </strong></h4></th>
        </thead>
        <tbody>
            <!--LOOPING THROUGH EACH COURSE IN ROOMPREFERENCE FOR THE FOLLOWING DATA -->
            {% for roompreference in roompreferences %}
                <tr class = "courseTablerow1 selectTermModal" id = "{{roompreference.pID}}">
                    <td id = "courseInfo">{{roompreference.course.prefix}} - {{roompreference.course.bannerRef.number}}</td>
                    <td> {{roompreference.course.section}}</td> <br>
                    <td> {{roompreference.course.time}}</td>
                    <td> {{roompreference.course.capacity}} </td>
                    {% set p1 = [roompreference.pref_1, roompreference.pref_2, roompreference.pref_3] %}
                    
                    {% for pref in p1 %}
                        <td>
                            <!-- CHECKS THE VALUE OF THE PREFERENCE AND ACTS ACCORDINGLY TO ADD 1 TO THE SETPREFERENCE -->
                            <button {% if pref != None %}
                                        value="{{pref.rID}}"
                                    {% else %}
                                        {% if roompreference.any_Choice == loop.index %}
                                            value="0"  {# Holds room ID, NOT pref ID #} 
                                        {% elif roompreference.none_Choice == loop.index %}
                                            value="-1"  {# Holds room ID, NOT pref ID #} 
                                        {% endif %} 
                                    {% endif %} 
                                    onclick="setPreference({{loop.index}},{{roompreference.course.cId}})"                                   
                                    id="prefButton{{loop.index}}_{{roompreference.course.cId}}" 
                                    class="btn btn-primary btn-md " 
                                    type="button" 
                                    data-toggle="collapse" 
                                    data-target="#firstCollapser" 
                                    aria-expanded="false" 
                                    aria-controls="firstCollapser">
                                        {% if pref != None %}
                                            {{pref.building.shortName}} {{pref.number}} 
                                        {% else %} 
                                            {% if roompreference.any_Choice == loop.index %}
                                                Any Room Works 
                                            {% elif roompreference.none_Choice == loop.index and loop.index == 1 %}
                                                This Course Does Not Require A Room
                                            {% else %}
                                                No Other Room Works
                                            {% endif %}     
                                        {% endif %} 
                            </button>
                        </td>
                    {% endfor %}
                    
                    <td> 
                    <!--THIS TABLE MANAGES NOTES INSTRUCTIONS ON SEEING ROOM PREFERENCE AT A TIME-->
                        <div class = "notesHolders"  id= "NotesHolder_{{roompreference.course.cId}}"></div>
                    </td>
                </tr>
                <tr class = "hiddenRow">
                    <td colspan = "8">
                        <div class = "hiddenDiv panel-collapse collapse" id="modalRowCourse{{roompreference.course.cId}}">Trash</div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!--ROOM SELECTION COLLAPSE WHICH CONTAINS THE INFORMATION ABOUT THE ROOM AND LEADS INTO THE ROOM SELECTIONS UNDER THE PARTICULAR ROW-->
<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion" >
    <form>
        <div class="collapse" id="firstCollapser" >
            <table class="table table-dark">
                <tr>
                    <td>
                        <div class="panel panel-default" disabled>
                            <div class="panel-header">
                               <h4><strong>Pick a Room:</strong></h4> 
                            </div>
                            <div class="panel-body">
                                <div class="container">
                                    <div class="row" id = "roomSelectModalDiv"> 
                                        <select onchange= "goToRDetails(this,true)" id="selectedRoom" class="selectpicker form-control" data-live-search="true" name="keyValue"> <!-- -->
                                            <option disabled="disabled" value = "-999" id="donotTouch">Select your Room Preference</option>
                                            <option id="0" value = "0">  Any Room Works </option> 
                                            <option id="noRoom" value = "-1">  No Other Rooms Work  </option>
                                            <!--{# LOOPS THROUGH THE NUMBER OF ROOMS AVAILABLE IN THE DUMMY DATA AND POPULATES THE SELECT DROP DOWN SECTION #}-->
                                            {% for r in room %}
                                                <option id="{{r['rID']}}" value = "{{r['rID']}}" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" >{{r['building']['shortName']}} {{r['number']}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>  
                                    <div class="row" >
                                        <div  id = "Details" class="collapse" id="collapseExample">
                                            <div id= "withoutSelectButton">
                                            <div class="col-sm-6">
                                                <!--THIS GIVES ALL THE INFORMATION PERTINENT TO THE ROOM SELECTED FOR THE COURSE-->
                                                <div class="row">
                                                    <label  style="float: left;"> Room Number: </label><div id="roomNumber" > {{room.number}}</div>
                                                </div>    
                                                <div class="row">
                                                    <label  style="float:left;" > Room Capacity:</label>  <div id="roomCapacity" style="left;">{{room.maxCapacity}}</div>
                                                </div>
                                                <div class="row">
                                                    <label id="visualAccIcon" style="float:left;" ></label> <br> 
                                                </div>
                                                <div class="row">
                                                    <label id="audioAccIcon" style="float:left;" ></label> <br> 
                                                </div>
                                                <div class="row">
                                                    <label id="physicalAccIcon" style="float:left;" ></label> <br> 
                                                </div>
                                                <div class="row">
                                                    <label  style="float:left;" >Specialized Equipment : </label>  <div id="specializedEq">{{room.specializedEq}}</div>
                                                </div>
                                                <div class="row">
                                                <label  style="float: left;">Movable Furniture: </label> <div id="movableFurniture">  {{room.movableFurniture}}</div>
                                                </div>
                                                <div class="row">
                                                <label  style="float:left;" >Special Feature Notes   : </label><div id="specialFeatures">{{room.specialFeatures}}</div>
                                                </div>
                                                <div class="row">
                                                <label  style="float:left;" > Education Tech: </label> <button 
                                                type="button" style="margin-top: -.2em; margin-left: .3em;  padding: 3px 10px" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#edTechModal"> 
                                                <a href="#">  View </a></button>                   
                                                <!--THIS VIEW LEADS TO THE EDUCATION TECH EXTRA ROOM INFORMATION-->
                                                </div>
                                            </div>
                                                <!--EDUCATION TECH MODAL WHICH USES A SNIP -->
                                                {% include "snips/educationTech.html" %}
                                                <!--THIS POPULATES THE COURSE CONFLICT BOX TO THE RIGHT BOTTOM OF THE PAGE-->
                                            <div class="row">
                                                <div class="col-lg-5 " align="center" > 
                                                    <strong align="center"><h3 style="margin-top: .4em;"><strong>Course Conflicts</strong></h3></strong>
                                                    <table border=4>
                                                        <th><h4 style="margin-top: .4em;"><strong>Professor(s)</strong></h4><hr style="height:3px;border:none;background-color:#333;margin-bottom: .4em;"></th>
                                                        <th><h4 style="margin-top: .4em;"><strong>Course(s)</strong></h4><hr style="height:3px;border:none;background-color:#333;margin-bottom: .4em"></th>
                                                    {% for instructor in instructors %}
                                                        <tr>
                                                            <td class="col-md-2">{{instructor.username.firstName}} {{instructor.username.lastName}} </td>
                                                            <td class="col-md-1">{{instructor.course.bannerRef }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </table>
                                                </div>
                                            </div> 
                                            </div>
                                            <br>
                                            <!--THIS IS THE SELECT BUTTON WHICH TRIGGERS A MODAL AND ACCOMPLISHES A SET OF IMPORTANT TASKS SUCH AS DISABLING THE ROOM FOR FUTURE PREFERENCES IN THE SAME COURSE AND CALLING ANOTHER MODAL (SEE JAVASCRIPT RELATED TO IT)-->
                                            <div class="row">
                                                <button name="selectButton" id="selectButton" value="" class="btn btn-primary" onclick="setModalText(this)" type="button" style="float: right;" data-toggle="modal" data-target="#exampleModal"> Select</button>
                                            </div>
                                            <!-- THIS BRINGS IN THE NOTES MODAL-->
                                            <!-- THIS IS THE MODAL LEADING TO ALL THE CHANGES ON THE PAGE, IT ALSO HAS A 'CANCEL' BUTTON ALLOWING TO CLOSE THE MODAL AND RECONSIDER THE CHOICE BEFORE THE DATA IS SENT TO THE DATABASE -->
                                            </div>
                                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content"> 
                                                        <div class="modal-header" style="background-color: #2c3e50;">
                                                            <class="modal-title" style="color: white;" id="exampleModalLabel">
                                                                    <p id="modelRoom"></p> 
                                                        </div>
                                                        <div class="modal-body" align="left">
                                                            <form role="form">
                                                                <div class="form-group">
                                                                    <label for="message-text" class="control-label">Note:</label>
                                                                    <textarea class="form-control" id="message-text"></textarea>
                                                                </div>
                                                            </form>
                                                        </div>      
                                                        <div class="modal-footer" padding: "10px" style="margin-right:.4em;"> 
                                                        <div class ="row">
                                                            <div class="col-sm-6" align ="center">
                                                            <button  type="button" class="btn btn-primary" data-title="Add Another Preference" aria-hidden="true" onclick="saveValue(),goToNextPref()" style="text-align:center">Save  &  Add <br> Another Preference </button>
                                                            </div>
                                                            <div class="col-sm-6" align= "center">
                                                            <button  type="button"  class="btn btn-primary" id = "NoOther" data-title="No Other Rooms Work" value = "no_other" onclick="saveValue(),remainingToNone()" >Save  &  No <br>Other Rooms Work</button><!---Need an onclick to save current preference data before diasbleing remaining--->
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-sm-6" align = "left">
                                                            <button type="button" class="btn btn-warning"  data-dismiss="modal">Cancel</button>
                                                            </div>
                                                            <div class="col-sm-6"> 
                                                            <button type="button" class="btn btn-primary"  data-dismiss="modal" onclick='saveValue()'> Save  &  Close </button>
                                                            </div>
                                                        </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>              
                                        </div>
                                    </div>  
                                </div>
                            </div>  
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
<span id="Notes1" hidden>Your course will be placed in the first available room. </span>
<span id="Notes2" hidden>Your course will be placed in ||pref_1|| if able, or the first available room.</span>
<span id="Notes3" hidden>Your course will be placed in ||pref_1|| or ||pref_2|| if able, or the first available room.</span> 
<span id="Notes4" hidden>Your course will be placed in ||pref_1|| or ||pref_2|| or ||pref_3|| if able, or the first available room.</span> 
<span id="Notes5" hidden>Your course will be placed in ||pref_1|| if able, and no other room works.</span>
<span id="Notes6" hidden>Your course will be placed in ||pref_1|| or ||pref_2|| if able, and no other room works.</span>
<span id="Notes7" hidden>You have indicated that your course does not require a room. </span>
{% block belowContainer %}
<link rel="stylesheet" href="/static/cs/roomPreference.css">
<script type="application/javascript" src="/static/js/local/roompreference.js"></script>
{% endblock %} 
{% endblock %}
<!--check the model for roompreferences for any and non reason datafields because they are not used yet-->

