{% extends "base.html" %}
{% set currentPage = "no" %}
{% block aboveContainer %}
<style>
table, th, td {
    border: 1px solid black;
}
</style>
{% endblock %}
<!--Page Content -->
{% block body %}
<link rel="roomResolution" href="/static/css/roomResolution.css" type="text/css"/>

      <div class="center">
      <h1 class="text-center"><b>Room Resolutions </b></h1>
      </div>
      
                    <table class="table">
            
                      <thead>
                            <tr>
                                  
                                  <th scope="col"><h3><strong>Courses</strong></h3></th>
                                  <th scope="col"><h3><strong>Time</strong></h3></th>
                                  <th scope="col"><h3><strong>Fix Conflicts</strong></h3></th>
                                  
                                  
                                  
                            </tr>
                      </thead>
                  <tbody> </tbody>

            <tbody>
                {% for course in courses %}
                    <tr>
                          <td>{{course.bannerRef}}-{{course.bannerRef.ctitle}}</td>
                          <td>{{course.schedule.startTime}} - {{course.schedule.endTime}}</td>
                             
                                  <td><a href="/roomResolutionView/1"><button type="button" class="btn btn-primary btn-md">Resolve</button></a></td>
                              
                         
                    </tr>
                {% endfor %}
            </tbody>
    </table>
 
{% endblock %}