{% extends "base.html" %}
{% set currentPage = "no" %}
{% block aboveContainer %}
{% endblock %}
<!--Page Content -->
{% block body %}

<div class="modal fade" id="selectTermModal" role="dialog" data-backdrop = "static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Select a Term to Work on</h4>
            </div>
            <div class="modal-body">
                <select name = "term-select" class="selectpicker form-control" data-live-search="true" name="ttitle" id="termInfo"  required>
                    {% for term in allTerms %}
                        <option value ={{term.termCode}} >
                            {{term.name}}
                        </option>
                    {% endfor %}
                </select>
                <div class="modal-footer">
                    <button onclick="redirectCourses({{'pref'}})" class="btn btn-success">Submit</button>
                </div>  
                
            </div>
        </div>
    </div>
</div>
<script src="/static/js/local/selectTerm.js"></script>
{% endblock %}

 