{% extends "base.html" %} {% set currentPage = "systemManagement" %} {% block body %}
{% include "snips/messages.html" %}
<link rel="stylesheet" href="../static/css/systemManagement.css" >
<script type="text/javascript" src="/static/js/local/systemManagement.js"></script>

<div class="container">
<div class="panel panel-default">
  <!--TERM MANAGEMENT-->
  <div class="panel-heading">
    <h3 class="panel-title">Term Management</h3>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Term(s)</th>
        <th></th>
      </tr> 
    </thead>
    <tbody>
      {% include "snips/termModal.html" %}
      {% for term in terms %}
      <tr>
        <td>
            <button type="button" class="btn btn-primary terms_btn" data-toggle="modal" data-target="#addModal">{{term.name}} </button>
        </td>
        <td>
          <div class ="btn-group">
            <button type = "button" id = "btn1" data-toggle="collapse" data-target="#open_course" aria-expanded="false" aria-controls="open_course" onclick="showPanel({{term.termCode}})"> Open Scheduling</button>
            <button type = "button" id = "btn2" data-toggle="collapse" data-target="#lock_course" aria-expanded="false" aria-controls="open_course" onclick="showPanel({{term.termCode}})"> Lock Scheduling</button>
            <button type = "button" id = "btn3" data-toggle="collapse" data-target="#open_room"  aria-expanded="false" aria-controls="open_course" onclick="showPanel({{term.termCode}})"> Open Room Preferences</button>
            <button type = "button" id = "btn4" data-toggle="collapse" data-target="#lock_room"  aria-expanded="false" aria-controls="open_course" onclick="showPanel({{term.termCode}})"> Lock Room Preferences</button>
            <button type = "button" id = "btn5" data-toggle="collapse" data-target="#assign_room"  aria-expanded="false" aria-controls="open_course" onclick="showPanel({{term.termCode}})"> Assign Rooms</button>
          </div>
          
        </td>
      </tr>
      <tr>
        <td colspan="6" id = "divForPanel{{term.termCode}}">
          
        </td>
      </tr>
      {% endfor %}
      
    </tbody>

  </table>
  </div>

<!--------------------------------------------Data to dump in the view---------------------------------------->

<div id = "allPanels">
  <div class="panel panel-default"> 
    <div id="open_course" class="collapse"> 
      <div class="panel-body">
            <p>Program and Division Chairs will be able to submit courses to this Term.</p>
            <p>Click the arrow to begin and open Course Scheduling.</p>
          </div>
  
    <div id="lock_course" class="collapse">
        <div class="panel-body">
          <p>>Course Scheduling has now been opened. Program and Division chairs can now submit courses to the term.</p>
          <p>Click the arrow to lock course scheduling. Chairs will no longer be able to add courses to the term.</p>   
        </div>
    </div>
    
    <div id="open_room" class="collapse" >
          Course Scheduling has now been locked. Chairs can no longer submit Courses for the term.
          Click the left arrow to unlock Course Scheduling.
          Click the right arrow to open Room Preferences for faculty. <span> ( Course Scheduling will be permanelty locked. ) </span>
    </div>
    
    <div id="open_room" class="collapse">
          Preferences submission has been opened. Faculty can now submit and change the room preferences for their courses
          Click the arrow to lock room preferences submission       
    </div>
    
    
    <div id="lock_room" class="collapse">
          Room Preferences submission has been opened. Faculty can now submit and change the room preferences for their courses
          Click the arrow to lock room preferences submission    
         
    </div>
    
    <div id="assign_room" class="collapse">
          <p>Room Prefrences submissions have been locked. Faculty can no longer submit or change their prefrences</p>
          <p>Click the left arrow to unlock room preferences</p>
          <p>Click the right arrow to assign room (Room preferences can no longer be unlocked!!!)</p>
    </div>
  </div>
</div>
</div>




























<!------------------------------------------------------------------------------------------------------------------------------------------>
<div class = container>
  <br>
  <br>
  <br>
  <br>
</div>  

    <label for="newTerm">Create a new term</label>
    <form action="\newTerm" method="post" id="newTerm" class="form-inline">
      <div class="form-group">
        <select class="form-control" name="keyValue">
            {% for key in cfg['termInfo'] %}
              <option value="{{key}}" required>
                {{cfg['termInfo'][key]}}
              </option>
            {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <select class="form-control" name="year">
            {% for year in years %}
              <option value="{{year}}" required>
                {{year}}
              </option>
            {% endfor %}
          </select>
      </div>
      <div class="form-group"
        <input type="submit" class="btn btn-success" value="Save">
      </div>
    </form>
  </div>
<!--------------------------------------------End----CREATE A NEW TERM---------------------------------------->
</div>
</div>
</div>


{% endblock %}
