<!--This is html file is made dynamically, most of the materials and the texts that appear on the interface are saved in the config file so that they can be changed only at one place in case anything chnanges in the future on the processes-->
<!-- the button names are stored in the create_db-->
{% extends "base.html" %} {% set currentPage = "termManagement" %} {% block body %}
{% include "snips/messages.html" %}
<link rel="stylesheet" href="../static/css/termManagement.css" >
<script type="text/javascript" src="/static/js/local/termManagement.js"></script>

<div class="container-fluid" id="container">
    <div class="panel panel-default">
      <!--TERM MANAGEMENT-->
      <!--Big grey panel at top -->
      <div class="panel-heading" class = "panel_color" style = 'text-align:center;'>
        <h1 class="panel-title" ><bold>Term Management</bold></h1>
        <h5><i> Click below on the term to begin </i><h5>
      </div>
       </br>
      <!--Term rows-->
      <table class="table" cellspacing="0" cellpadding="0">
          {% include "snips/termModal.html" %}
          {% for term in terms %}
          <tr  id = "{{ term.termCode }}" class = "row" >
            <td> 
            {% for state in term_state %}
                {% if state.number == 0 %}
                <td style="margin-top:1px !important; padding-top: 1px !important;">
                  <!-- Generates the term buttons-->
                  <button style="width: 100%;" type="button" class="btn btn-primary terms_btn" data-target="#order{{state.order + 1}}" aria-expanded="false" 
                  aria-controls="order{{state.order + 1}}" onclick="showPanel({{term.termCode}},this); enableTheOne('#{{term.termCode}} #btn{{state.order + 1}}');" id = "{{term.termCode}}_{{term.term_state.order}}">{{term.name}} 
                  </button>
                {% else %}
                <!--This cater for the archiving state which is not the menu tab on the row, generates the other six menu tabs-->
                  {% if state.number != 7 %}
                  <td style="padding: 1px !important; margin: 1px !important;">
                    <button style="width:100%" class="theButtons btn btn-dark" type = "button" id = "btn{{state.order}}" data-target="#order{{state.order}}" aria-expanded="false" aria-controls="order{{state.order}}" disabled = "disabled"
                    onclick="showPanel({{term.termCode}},this);)" >{{state.display_name}} <span class="glyphicon glyphicon-chevron-right"></span></button>
                  </td>  
                  {% endif %}
                {% endif %}
                </td>
            {% endfor %}
            </td>
          <td style="padding: 1px !important; margin: 1px !important;"> 
            <button type="button" class="btn btn-success" onclick = 'downloadCourses({{term.termCode}})' >Download</button>
          </td>  
          </tr>
          <tr  id = "hidden_{{ term.termCode }}">
            <td colspan="10" id = "divForPanel{{term.termCode}}" align="center" > <!-- Calls the panels for each button in  term--> </td>
          </tr>
          {% endfor %}
      </table>
  </div><!--Closes panel-default-->
<div id = "allPanels"><!--This covers all the panels-->
  <!--<div class="panel panel-default" style=" left:20%"> -->
      <!--Creates the variable for the states and loops through all the states and genrates the appropriate pannels as specified by the if statement-->
      {% set format0 = [1,2,4] %}
      {% set format1 = [3,5] %}
      {% set format2 = [6] %}
      {% set format3 = [7] %}
      {% for state in term_state %}
        {% if state.number in format0 %}
            <div id="order{{state.order}}" class="collapse text-center"> 
              <div class="panel-footer">
                <div class = "row text-center">
                   <p><b>{{cfg['states'][state.number]['mainInfo']}}</b></p> <!-- Access the state number from the config file and then get the value of mainInfo-->
                </div>
                <div class = "row">
                <div class = "col-sm-10">
                  <p><i>{{cfg['states'][state.number]['subtext']}}</i></p>
                </div>
                <div class = "col-sm-2">
                  <button class="btn btn-sm btn-success" type="button" id="button{{state.number}}" data-toggle="collapse" data-target="#order{{state.order}},#order{{state.order + 1}}" aria-expanded="false" 
                  aria-controls="order{{state.order + 1}}" onclick="enableTheOne('btn{{state.order + 1}}'); prevcolor('btn{{state.order}}'); change_text();submit_data({{state.order}},'false');">{{state.display_name}}<span class="glyphicon glyphicon-chevron-right"> </span></button>
                </div><!--Closes column-->
                </div><!--Closes row-->
              </div><!-- Closes panel-body-->
            </div><!--Closes order-->
        {% elif state.number in format1 %}
              <div class="row">
              <div id="order{{state.order}}" class="collapse text-center">
                <div class="panel-footer">
                    <div class = "row text-center ">
                        <p><b>{{cfg['states'][state.number]['mainInfo']}}</b><br> </p>
                    </div>
                    <div class ="row">
                      <div class = "col-sm-6">
                         <p><br><i>{{cfg['states'][state.number]['left_help_text']}}</i></p>
                         <!-- this is for the unlock button --->
                          <button class="btn btn-sm btn-danger" type = "button" id = "button{{state.order-1}}" data-toggle="collapse" data-target="#order{{state.order - 1}}, #order{{state.order}}" aria-expanded="false" 
                          aria-controls="{{state.order-1}}" onclick="enableTheOne('btn{{state.order-1}}'); reverseFunc('btn{{state.order-1}}', {{state.order-1}});"> <span class="glyphicon glyphicon-chevron-left"></span>{{cfg['states'][state.order - 1]['btn']}}</button>
                      </div>
                      
                      <div class = "col-sm-6 ">
                          <p><br><i>{{cfg['states'][state.number]['right_help_text']}}</i></p>
                          <!--- this is for the lock button --->
                          {% if state.number == 5 %} <!-- Checking for statenumber to see if wait modal needs to popup -->
                          <button class="btn btn-sm btn-success" type = "button" id = "button{{state.order + 1}}" data-toggle="collapse" data-target="#order{{state.order + 1}}, #order{{state.order}}"  aria-expanded="false" 
                          aria-controls="{{state.order + 1}}" onclick ="enableTheOne('btn{{state.order + 1}}'); prevcolor('btn{{state.order}}'); submit_data({{state.order}}, 'false'); waitModal();" >
                            {{state.display_name}}
                            <span class="glyphicon glyphicon-chevron-right"></span>
                          </button>
                          {% else %}
                          <button class="btn btn-sm btn-success" type = "button" id = "button{{state.order + 1}}" data-toggle="collapse" data-target="#order{{state.order + 1}}, #order{{state.order}}"  aria-expanded="false" 
                          aria-controls="{{state.order + 1}}" onclick ="enableTheOne('btn{{state.order + 1}}'); prevcolor('btn{{state.order}}'); submit_data({{state.order}}, 'false');" >
                            {{state.display_name}}
                            <span class="glyphicon glyphicon-chevron-right"></span>
                          </button>
                          {% endif %}
                          <br>
                          <span style="margin-top:1px">
                            <sub>
                              <br> 
                                {{cfg['states'][state.number]['subtext']}}
                          </span>
                      </div><!-- Closes column-->
                    </div><!--Closes row -->
                    </div>
                  </div><!-- Closes order-->
                </div><!--Closes row -->
    {% elif state.number in format2 %} 
      <!--FINISH-->
       <div id="order6" class="collapse text-center">
          <div class = "panel-footer">
            <div class = "row text-center">
              <p><b>{{cfg['states'][state.number]['mainInfo']}}</b></p>
            </div>
            <div class="row">
              <div class = "col-sm-3 text-left ">
              <!--Click below to go to Room resolutions page-->
                <p><sub>{{cfg['states'][state.number]['goto_text']}}</sub></p>
                <a onclick = "goto_roomResolution()">{{cfg['states'][state.number]['goto_link']}}</a>
              </div>
              <div class= "col-sm-6 text-center">
                  <p>
                    <sub><br>{{cfg['states'][state.number]['left_help_text']}}</sub>
                  </p>
              <!--Reassign Button-->
                <button type = "button" id = "button{{state.order}}" class= "btn btn-danger" data-toggle = "collapse" data-target= ""
                 aria-controls="order{{state.order-1}}"
                 onclick ="enableTheOne('btn{{state.order}}'), submit_data({{state.order}}-1,'false')"> {{cfg['states'][state.number]['btn']}}
                </button>
              </div>
                <div class = "col-sm-3 text-right"> 
              <!-- Click to finish term-->
                <p><sub>{{cfg['states'][state.number]['right_help_text']}}</sub><br></p>
                <!--Finish button-->
                  <button type="button" id ="button{{state.order}}" class="btn btn-success finalize" data-toggle="collapse" data-target= "#order{{state.order + 1}}" aria-controls="order{{state.order + 1}}" 
                    onclick="enableTheOne('btn{{state.order}}'); prevcolor('btn{{state.order}}');submit_data({{state.order}},'false'); collapser(6);"> {{state.display_name}}
                  </button>
                </div><!--Closes column-->
              </div><!--Closes row-->
            </div><!--Closes panel-body -->
        </div><!--Closes order6 -->
        {% elif state.number in format3 %}
                <!--The archive panel and the button after finish-->
       <div id="order7" class="collapse text-center" >
          <div class = "panel-footer">
            <div class = "row text-center">
              <p><b>This term is complete</b></p><br>
              <p>(Course and Room Preferences are no longer accepted, and rooms have been assigned.)</p>
            </div>
          <div class = "row">
                 <!--{# Download Rooms is no longer needed by itself because the data it would contain is being added to the downloadCourses #}-->
              <div class = "col-sm-4">  
                <br>
                <!--<a>Download Rooms </a>-->
              </div>
            <div class = "col-sm-8 text-left">
              <div class = " text-right"> 
                  <input type = "button" class = "btn btn-danger" id = "Archive"  data-target ="#myModal" data-toggle="modal" aria-expanded="false" value = "Archive" ></input><br>
                <br><p><sub>(Archiving will hide the term from view in other CAS interfaces.)</sub></p>
              </div>
            </div>
          </div>
          </div><!-- Closes order7 -->
         </div><!--For order8-->
         <div id="order8" class="collapse text-center" >
            <div class = "panel-footer">
              <div class = "row text-center">
                <p><b>This term is complete</b></p><br>
                <p>(This term has already been archived)</p>
              </div>
            <div class = "row">
                   <!--{# Download Rooms is no longer needed by itself because the data it would contain is being added to the downloadCourses #}-->
                <div class = "col-sm-4">  
                  <br>
                  <!--<a>Download Rooms </a>-->
                </div>
              <div class = "col-sm-8 text-left">
                <div class = "text-right"> 
                    <input type = "button" class = "btn btn-danger" id = "Unarchive"  data-target ="#unarchiveModal" data-toggle="modal" aria-expanded="false" value = "Unarchive" onclick= ""></input><br>
                  <br><p><sub>(Unarchiving will show the term within other CAS interfaces.)</sub></p>
                </div>
              </div>
            </div>
            </div>
           </div>
      {% endif %}
  {% endfor %}
         <!--This is the modal for onclick on archive button confirmation-->
         <div id="myModal" class="modal fade" tabindex = "-1" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Archive term</h4>
                </div>
                <div class="modal-body">
                  <p>Are you sure you are ready to archive the term?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" onclick="archiveTerm('false',7), collapser(7)">Yes</button>
                </div>
              </div>
            </div>
          </div><!-- Closes modal -->
    <!-- Modal for unarchiving-->
     <div id="unarchiveModal" class="modal fade" tabindex = "-1" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Archive term</h4>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure you are ready to unarchive the term?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal" onclick="archiveTerm('true',8), collapser(8)">Yes</button>
                    </div>
                  </div>
                </div>
              </div>
    <!-- Wait for room reassignment modal -->
    <div class="modal fade" id="wait" tabindex="-1" role="dialog" aria-labelledby="wait" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Please wait</h5>
          </div>
          <div class="modal-body">
            Please wait while the room assignment algorithm runs...
            <br><p><sub>(Do not refresh the page during this process)</sub></p>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- Closes allPanels -->
</div> <!-- Closes big container -->
<!------------------------------------------------------------------------------------------------------------------------------------------>
  <div class="panel-body" style = 'text-align:center;'>
    <!--CREATE A NEW TERM-->
    <label for="newTerm"><bold>Create a new term</bold></label>
    <form action="\newTerm" method="post" id="newTerm" class="form-inline">
      <div class="form-group">
        <select class="form-control" name="keyValue">
            {% for key in cfg['termInfo'] %}
              <option value="{{key}}" required>
                {{cfg['termInfo'][key]}}
              </option>
            {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <select class="form-control" name="year">
            {% for year in years %}
              <option value="{{year}}" required>
                {{year}}
              </option>
            {% endfor %}
          </select>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-success" value="Save">
      </div>
    </form>
  </div>  <!-- Closes panel-body-->
   
  
<!--------------------------------------------End----CREATE A NEW TERM---------------------------------------->
{% endblock %}
