<!--User Management HTML page -->
<!--Deals with adding/removing Access Levels; Division Chairs, Program Chairs, Building Managers, and Administrators.-->
{% extends "base.html" %} 
{% set currentPage = "no" %} 
{% block body %}

<!---First Box--->
<h3 style="text-align: center">User Management</h3>
<div class = "container">
<div class = "jumbotron"> <!--- Add User Panel--->
<label for="Access Level">Access Level</label> <!---First dropdown--->
    <div class = "form-group">
    <select onchange="show_access_level(this)" class="form control" name= "keyValue">
        <option value = "---" disabled selected>---</option>
        {% for access in cfg['accessLevel'] %}
             <option value="{{access['id']}}">{{access['name']}}</option>
        {% endfor %}
    </select>
    </div>
    <script>function show_access_level(s) {
        console.log(s.value);
        $("#Programs").hide();
        $("#Divisions").hide();
        $("#Buildings").hide();
    // $("#Admins").hide();
    
        if (s.value == "program_chair"){
            $("#Programs").show();
        }
        else if (s.value == "division_chair"){
            $("#Divisions").show();
        }
        else if(s.value == "building_manager"){
            $("#Buildings").show();
        }
    }
</script>

<div id="Programs">
<label for="Programs">Programs</label>
     <div class = "form-group"> <!--Second dropdown for program/division/building--->
        <select class="from control" name= "keyValue"> <!---Needs on change for when user selects program, should force user to select program/division/building--->
            {% for program in programs %}
            <option value="1" required>{{program.name}} </option> == $0
            {% endfor %}
        </select>
    </div>
    </div>

<div id="Divisions">    
<label for="Divisions">Divisions</label>
     <div class = "form-group"> <!--Second dropdown for program/division/building--->
        <select class="from control" name= "keyValue">
            {% for division in divisions %}
            <option value="1" required> {{division.name}}</option> == $0
            {% endfor %}
        </select>
    </div>
</div>

<div id="Buildings">
    <label for="Buildings">Buildings</label>
         <div class = "form-group"> <!--Second dropdown for program/division/building--->
            <select class="from control" name= "keyValue">
                {% for building in buildings %}
                <option value="1" required> {{building.name}}</option> == $0
                {% endfor %}
            </select>
        </div>
</div>
    
    <!---testing names dropdown--->
<div id="Admins">
<label for="Add names of chair/manager/admin">Add names of chair/manager/admin</label>
 <div class = "form-group"> <!---Third drop down form--->

        <select class="from control" name= "keyValue">
            {% for user in users %} <!--- displays names--->
            
            <option value="{{1}}"> {{user.firstName}} {{user.lastName}} </option>
            {% endfor %}
        </select>
    </div>
    <!---Add Button in bottom right--->
<div>
    <label for="Add Button">Add (Button)</label>
</div> 
    <button type="button">Add</button>
    
<div style="text-align: center">
<label for="Remove">Remove</label>
 <div class = "form-group"> <!--Second dropdown to remove chairs/bldg mngrs/admins--->
 <select class="from control" name= "keyValue">
            <option value="1" required> Anne Otieno</option> == $0
            <option value ="2" required> Kat Adams</option>
            <option value = "3" required> Scott Heggen</option>
        </select>
    </div>
    <label for="Remove">Remove (button)</label>
<div><!---Remove button--->
    <button type="button">Remove</button>
</div>
</div>
<!--<label for="Remove">Remove (button)</label>-->
<!--<div><!---Remove button--->
<!--    <button type="button">Remove</button>-->
<!--</div>-->
</div>
</div> 

</div>
</div>






<!---SECOND BOX--->
<!--<h3 style= "text-align: center">Remove User</h3>-->
<!--<div class = "container">-->
<!--<div class = "jumbotron"> <!---Remove User--->

<!--<label for="Access Level">Access Level</label>-->
<!--<div> <!--- first drop down--->
<!--  <select class="form control" name= "keyValue">-->
<!--        {% for access in cfg['accessLevel']%}-->
<!--             <option value="{{access['id']}}">{{access['name']}}</option>-->
<!--        {% endfor %}-->
<!--    </select>-->
<!--</div>-->






 {% endblock %}
  
  
  
  
  
      


