<!--User Management HTML page -->
<!--Deals with adding/removing Access Levels; Division Chairs, Program Chairs, Building Managers, and Administrators.-->
{% extends "base.html" %} 
{% set currentPage = "no" %} 
{% block body %}

{% include "snips/messages.html" %}

<h3 style="text-align: center">User Management</h3>
<form method="POST" action="/admin/userInsert">
<div class = "container">
    <!--<div class = "jumbotron">-->
        <div class="row">
        <!--ACCESS LEVEL DROPDOWN-->
            <div id = "center_block" class="col-sm-6 center-block" style ="text-align:center;" >
                <label for="Access Level">Access Level </label> 
                    <div class = "form-group">
                        <select class = "form-control" onchange="show_access_level(this)" name= "access">
                            <option value = "---" disabled selected>---</option>
                            {% for access in cfg['accessLevel'] %} <!---Jinja --->
                                 <option value="{{access['id']}}">{{access['name']}}</option>
                            {% endfor %}
                        </select>
                    </div>
            
        <!--PROGRAMS DROPDOWN-->
                    <div id="Programs">
                        <label for="Programs">Programs</label>
                            <div class = "form-group">
                                <select onchange="program_chairs_show_names(this)" class="form-control" name= "program">
                                <option value = "---" disabled selected>---</option>
                                {% for program in programs %}
                                <option value="{{program.pID}}" required>{{program.name}} </option> == $0
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                    
            <!--DIVIONS DROPDOWN-->
                        <div id="Divisions">    
                            <label for="Divisions">Divisions</label>
                                <div class = "form-group">
                                    <select onchange="division_chairs_show_names(this)" class="form-control" name= "division">
                                    <option value = "---" disabled selected>---</option>
                                        {% for division in divisions %}
                                        <option value="{{division.dID}}" required>{{division.name}}</option> == $0
                                        {% endfor %}
                                    </select>
                                </div>
                        </div>
                        
            <!--BUILDINGS DROPDOWN-->
                        <div id="Buildings">
                            <label for="Buildings">Buildings</label>
                                 <div class = "form-group">
                                    <select onchange="building_managers_show_names(this)" class="form-control" name= "building">
                                            <option value = "---" disabled selected>---</option>
                                            {% for building in buildings %}
                                            <option value="{{building.bID}}" required> {{building.name}}</option> == $0
                                            {% endfor %}
                                    </select>
                                </div>
                        </div>
            </div>
        </div>
        
    <!-- Encloses the remove and the add buttons and dropdowns in a row class -->        
    <div class = "row">
        <!--ADD NAMES BUTTON AND BUTTON-->
         <div class = "row">
            <div id="Add" class="col-sm-4">
                <label for="Users">Users</label>
                     <div class = "form-group">
                        <select class="form-control col-md-4" name= "userToAdd" id="AddDropdown">
                            <option value = "---" disabled selected>---</option>
                                {% for user in users %} <!--- displays names--->
                                    <option value="{{user.username}}"> {{user.firstName}} {{user.lastName}} ({{user.username}})</option>
                                {% endfor %}
                        </select>
                    </div>
                <div> <!--- creates a pop up for the user on clicking add button --->
                    <div id = "add_btn">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal">Add</button>
                    </div>
                        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
                              </div>
                              <div class="modal-body">
                                 <p>Are you sure you want to add the selected user?</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                <button name ="adduser" value = "adduser" type="Submit" class="btn btn-success"> Yes</button>
                              </div>
                            </div>
                          </div>
                        </div>
                </div>
            </div>
            
            <!--Empty div to align the add and remove divs --->
            <div class="col-sm-4">
            </div>
            
            <!--REMOVE NAMES DROPDOWN AND BUTTON--->
            <div id = "Remove" class="col-sm-4" >
                <div >
                    <label for="Remove">Current User(s)</label>
                        <div class = "form-group"> <!--Second dropdown to remove chairs/bldg mngrs/admins--->
                            <select class="form-control" name="userToRemove" id="RemoveDropdown" style="float: right;">
                                <option value="---"disabled selected>---</option>
                            </select>
                        </div>
                    <div>
                        <div id = "remove_btn" class= "text-right">
                            <button type="button" class="btn btn-Danger" data-toggle="modal" data-target="#removeModal">Remove</button>
                        </div>
                            <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Remove User</h5>
                                  </div>
                                  <div class="modal-body">
                                     <p>Are you sure you want to remove the selected user?</p>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                    <button name = "removeuser" value = "removeuser" type="Submit" class="btn btn-success" >Yes</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                     </div>
                </div>
            </div>
    </div>
    
<!--</div>-->
</div>

{% endblock %}
  
{% block belowContainer %}
    <link rel="stylesheet" href="../static/css/userManagement.css">
    <script src="../static/js/local/removeUser.js" />
{% endblock %}
  
  
  
      


