<!--User Management HTML page -->
<!--Deals with adding/removing Access Levels; Division Chairs, Program Chairs, Building Managers, and Administrators.-->
{% extends "base.html" %} 
{% set currentPage = "no" %} 
{% block body %}

<h3 style="text-align: center">User Management</h3>
<div class = "container">
<div class = "jumbotron">
<!---Access Level dropdown--->
<label for="Access Level">Access Level</label> 
    <div class = "form-group">
    <select onchange="show_access_level(this)" class="form control" name= "keyValue">
        <option value = "---" disabled selected>---</option>
        {% for access in cfg['accessLevel'] %}
             <option value="{{access['id']}}">{{access['name']}}</option>
        {% endfor %}
    </select>
    </div>
    <script>
    
    function show_access_level(s) {
        console.log(s.value);
        $("#Programs").hide();
        $("#Divisions").hide();
        $("#Buildings").hide();
        $("#Add").hide();
        $("#Remove").hide();  
    
        if (s.value == "program_chair"){
            $("#Programs").show();
        }
        else if (s.value == "division_chair"){
            $("#Divisions").show();
        }
        else if(s.value == "building_manager"){
            $("#Buildings").show();
        }
        else if(s.value == "administrator"){
            show_names(s);
        }
    }
</script>

<!--Programs dropdown-->
<div id="Programs">
<label for="Programs">Programs</label>
     <div class = "form-group">
     
     <!--Should hide add/remove name dropdown and buttons until specific program/division/building is chosen-->
    <select onchange="show_names(this)" class="form control" name= "keyValue">
    <option value = "---" disabled selected>---</option>
        {% for program in programs %}
        <option value="{{program.name}}" required>{{program.name}} </option> == $0
        {% endfor %}
    </select>
    </div>
    </div>
    
<script>function show_names(s) {
    console.log(s.value); 
    $("#Add").show();
    $("#Remove").show();
}

</script>
<!--Divisions dropdown-->
<div id="Divisions">    
<label for="Divisions">Divisions</label>
     <div class = "form-group">
        <select onchange="show_names(this)" class="from control" name= "keyValue">
        <option value = "---" disabled selected>---</option>
            {% for division in divisions %}
            <option value="1" required> {{division.name}}</option> == $0
            {% endfor %}
        </select>
    </div>
</div>
<!--Buildings dropdown-->
<div id="Buildings">
    <label for="Buildings">Buildings</label>
         <div class = "form-group">
            <select onchange="show_names(this)" class="from control" name= "keyValue">
                <option value = "---" disabled selected>---</option>
                {% for building in buildings %}
                <option value="1" required> {{building.name}}</option> == $0
                {% endfor %}
            </select>
        </div>
</div>
    
<!--Add names and button-->
<div id="Add">
<label for="Users">Users</label>
 <div class = "form-group">

        <select class="from control" name= "keyValue">
            <option value = "---" disabled selected>---</option>
            {% for user in users %} <!--- displays names--->
            
            <option value="{{1}}"> {{user.firstName}} {{user.lastName}} </option>
            {% endfor %}
        </select>
    </div>
    
    
    <!---Add Button in bottom right--->

<div>
    <label for="Add Button">Add User</label>
</div> 
    <button type="button" class="btn btn-success">Add</button>
<div/>
 <!--Remove names and button   -->

<div style="text-align: Right">
<label for="Remove">Remove</label>
 <div class = "form-group"> <!--Second dropdown to remove chairs/bldg mngrs/admins--->
 <select class="from control" name= "keyValue">
            <option value="1" required> Anne Otieno</option> == $0
            <option value ="2" required> Kat Adams</option>
            <option value = "3" required> Scott Heggen</option>
        </select>
    </div>
<div id="Remove">
<label for="Remove Button">Remove User</label> <!--Red w/ bootstrap-->
<div>
    <button type="button" class="btn btn-danger">Remove</button>
</div>
</div>
</div>
</div>
</div> 
</div>
</div>
</div>


<script>
    
$("#Programs").hide();
$("#Divisions").hide();
$("#Buildings").hide();
$("#Add").hide();
$("#Remove").hide();      
</script>

 {% endblock %}
  
  
  
  
  
      


